/*
*常量定义
*/
$S:0.025rem;//手机尺寸
$BLUE:#1D336A;//蓝色按钮
$BLUE-200:#52A3FF;//蓝色背景
$BLUE-300:#0070e6;//蓝色文字

$BLACK-200:#6c6c6c;//文字黑色
$BLACK-250:#555555;//文字黑色
$BLACK-300:#333333;

$GRAY-50:#fafafa;//浅灰背景
$GRAY-60:#f5f5f5;//浅灰边框
$GRAY-70:#FCFCFC;//登录输入框背景
$GRAY-80:#c0c0c0;//登录表单文字
$GRAY-90:#cbcbcb;//灰色文字
$GRAY-95:#999999;//灰色文字
$GRAY-100:#e7e7e7;//边框线灰色
$GRAY-200:#ebebeb;//块灰色背景
$GRAY-300:#bbbbbb;//禁用按钮颜色

$WHITE:#ffffff;
$WHITE-50:#F8F8F8;

$YELLOW:#FFCB30;//黄色文字